.videoBox,
.videoBox iframe {
    width: 100%;
    /* min-height: 403px !important;
    height: 100%; */
}

.latestVideo {
    background: var(--e0);
    /* min-height: 403px;
    height: 100%; */
}

.disorder {
    display: block;
    color: var(--black);
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.latestVideoInner p {
    color: var(--black);
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
}

.watch_btn {
    padding: 13.21px 23.84px 12.79px 24px;
    border-radius: 40px;
    background: var(--primary);
    margin-top: 22px;
}

.watch_btn a {
    color: var(--White, #FFF);
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    text-decoration-line: underline;
}