.sub_header1 {
    text-align: center;
}

.sub_header1 h3 {
    color: var(--Black, #313131);
    font-family: Raleway;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.sub_header1 p {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;

}

.sub_header1 small {
    color: var(--Teritary-Color, #F67280);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.sub_header1 h4 {
    color: var(--Primary-Color, #423C6A);
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 30px;
}

.promocode_input {
    border-radius: 42px;
    border: 1px solid #E2E8F0;
    background: #FFF;
    height: 40px;
    padding: 10.5px 121.42px 10.5px 17px;
    margin-top: 20px !important;
}

.promocode_input::placeholder {
    color: var(--Black, #313131) !important;

    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.apply_btn {
    padding: 10.41px 12.06px 9.59px 10.36px;
    border-radius: 62px;
    background: var(--Primary-Color, #423C6A);
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19.2px;
    letter-spacing: 0.32px;
    margin-left: 10.369px;
    width: 73px;
}

.save_btn {
    padding: 10.41px 12.06px 9.59px 10.36px;
    border-radius: 62px;
    background: var(--Primary-Color, #423C6A);
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19.2px;
    letter-spacing: 0.32px;
    margin-left: 10.369px;
    height: 60px !important;
    width: 106px;

}

button {
    cursor: pointer;
}

.subv_body {
    padding: 39.808px 29px 36.615px 59px;
    border-radius: 10px;
    background: var(--White, #FFF);
    box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.10);
    max-width: 1005px !important;
    width: 100% !important;
    margin: auto;
    margin-top: 30px !important;
    margin-bottom: 109px;
}

.subv_body p {
    color: var(--Black, #313131);
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 120% */
}

.purchase_sub {
    display: flex;
    justify-content: start;
    align-items: center !important;
    gap: 10.5px !important;
    padding: 12px 556.5px 12px 0px;
    margin-bottom: 22.19px !important;
}

.purchase_sub input {
    display: none;
}

.purchase_sub small {
    color: var(--Black, #313131);
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.close {
    padding-top: 44px !important;
    padding-right: 49px !important;
}

.gap_4 {
    gap: 30px !important;
}

.gap_2 {
    gap: 10px !important;
}

.radio-button {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
}

.modal_body_subforother {
    margin: auto;
    text-align: center;
    padding: 0px 79px 84px 79px;
}

.modal-header {
    display: flex;
    justify-content: end;
    padding-top: 44px;
    padding-right: 49px;
}

.modal_body_subforother p {
    color: var(--Black, #313131);
    text-align: center;
    font-family: Raleway;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 27px;
}

.modal_body_subforother h4 {
    color: var(--Black, #313131);
    text-align: center;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20.4px;
}

.email_sub_input {
    border-radius: 42px;
    border: 1px solid #E2E8F0;
    background: #FFF;
    height: 60px;
    padding: 10.5px 121.42px 10.5px 17px;
    margin-top: 20px !important;
}

.close_button_subforother {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: end !important;
}

.close_button_subforother:focus {
    background-color: transparent !important;
    border: none !important;

}

.close_button_subforother:hover {
    background-color: transparent !important;

}

/* custom checkbox */
.checkbox {
    position: relative;
    overflow: hidden;
    margin-bottom: 0px !important;
    margin-top: 6px !important;
}

.checkbox__input {
    position: absolute;
    /* top: -10px; */
    left: -100px;
}

.checkbox__inner {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #626262;
    background: transparent no-repeat center;
}

.checkbox__input:checked+.checkbox__inner {
    border-color: #423c6a;
    background-color: #423c6a;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='14px' height='10px' viewBox='0 0 14 10' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 59.1 (86144) - https://sketch.com --%3E%3Ctitle%3Echeck%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='ios_modification' transform='translate(-27.000000, -191.000000)' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cg id='Group-Copy' transform='translate(0.000000, 164.000000)'%3E%3Cg id='ic-check-18px' transform='translate(25.000000, 23.000000)'%3E%3Cpolygon id='check' points='6.61 11.89 3.5 8.78 2.44 9.84 6.61 14 15.56 5.05 14.5 4'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 14px 10px;
}

.payment_method {
    display: flex;
    gap: 8px;
    margin-top: 8px !important;
}

.payment_parent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 340px;
}

.flex_payment {
    display: flex;
    align-items: center;
}

.payment_div {
    max-width: 340px !important;
    width: 100% !important;
}

.payment_div h4 {
    color: var(--Black, #313131);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;

}

.payment_div small {
    color: var(--Black, #313131);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 8px;
}

.payment_method_radio {
    width: 20px !important;
    height: 20px !important;
}