.completeProfileContainer {
  padding: 31px 50px;
}

.completeProfileContainer a {
  color: var(--black);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.complete_profile_header {
  text-align: center;
}

.complete_profile_header h4 {
  color: var(--black);
  font-family: Raleway;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.complete_profile_header p {
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  /* 138.889% */
}

.profileSetting {
  max-width: 888px;
  /* margin: auto; */
}

.mt_30cp {
  margin: auto;
  margin-top: 30px;
}

.profile_pic {
  text-align: center;
  margin-bottom: 30px;
}

.create_profile_button {
  text-align: center;
}

.complete_profile_gap {
  gap: 30px;
  justify-content: center !important;
}

.profile_parent_container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-top: 100px;
}

.completeprofile_inputContainer {
  width: 100% !important;
  max-width: 356px !important;
  display: block;
}

.completeprofile_inputContainer label {
  color: var(--gray-400, #92979D);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
  display: block;
}

.completeprofile_inputContainer input {
  border-bottom: 2px solid #C2C9D1 !important;
}

.changePassword input,
.profileSetting input,
.profileSetting select {
  border-bottom: 2px solid #C2C9D1;
  width: 100%;
}

select {
  border: none;
}

.create_profile_button button {
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding: 14px 90px;
  border-radius: 32px;
  background: var(--primary);
  box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.25);
  transition: 0.4s ease-in-out;
  white-space: nowrap;
  border: none;
  cursor: pointer;
}

.image_upload img{
  border-radius: 50% !important;
  width: 175px;
  height: 175px;
}