@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none !important;
}

input {
    border: none;
}

button {
    outline: none;
    border-width: nopne;
    border-style: none;
    border-color: none;
    border-image: none;
}

button:focus {
    border: none !important;
    outline: none !important;

}

button:focus-visible {
    border: none !important;
    border-color: transparent;
    outline: none !important;
}

/* .navbar {
    background-color: #FFF4E0 !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 1000 !important;
}
.navbar-scrolled {
    background-color: white;
} */
/* .container {
    max-width: 1440px !important;
} */
.mb_all {
    margin-bottom: 70px;
}

.mb_20 {
    margin-bottom: 20px;
}

.mb_30 {
    margin-bottom: 30px;
}

.mb_40 {
    margin-bottom: 35px;
}

.mb_100 {
    margin-bottom: 100px;
}

h2 {
    color: var(--black, #313131) !important;
    font-size: 40px !important;
    font-weight: 600 !important;
    line-height: 51px !important;
}

h2 span {
    color: var(--secondry-color, #FFB230) !important;
    text-transform: uppercase !important;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 700 !important;
}

/* payment model */
.payment_modal_text p {
    color: var(--Black, #313131);
    text-align: center;
    font-family: Raleway;
    font-size: 28px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: normal !important;
}

.payment_modal_text h6 {
    color: var(--Black, #313131);
    text-align: center;
    font-family: Raleway !important;
    font-size: 36px !important;
    font-style: normal;
    font-weight: 500 !important;
    line-height: normal;
}

.modal-content {
    border-radius: 20px;
}


.txt_curve {
    position: relative;
    padding-bottom: 56px;
    text-transform: initial;
}

.txt_curve::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 57%;
    width: 100%;
    border: 6px;
    border-style: solid;
    border-color: #FFB230 transparent transparent transparent;
    border-radius: 90% 90% 0 0;
}


.txt_curve1 {
    position: relative;
    padding-bottom: 56px;
    text-transform: initial;
}

.txt_curve1::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 57%;
    width: 100%;
    border: 6px;
    border-style: solid;
    border-color: #423C6A transparent transparent transparent;
    border-radius: 90% 90% 0 0;
}

h2 .txt_curve1 {
    color: #423C6A !important;
}

.sub_header {
    color: var(--primary-color, #423C6A);
    font-size: 24px;
    font-weight: 500;
    max-width: 617.108px;
}

.forPosition a {
    color: var(--black, #313131);
    font-size: 20px;
    font-weight: 500;
}

.forPosition .activePage {
    font-weight: 700 !important;
    color: #423C6A;
}

footer {
    background: #fff3e0;
}

:focus-visible {
    outline: none;
}

.mb_4 {
    margin-bottom: 40px !important;
}

.send_msg_button {
    border-radius: 50px;
    background: var(--Primary-Color, #423C6A);
    padding: 13px 31.38px;
    color: var(--White, #FFF);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;

}

.send_msg_button:hover {
    color: var(--White, #FFF) !important;
}

.footer_button {
    display: flex;
    justify-content: center;
}

.linkFooter {
    margin-top: 40px;
    gap: 40px;
}

/* Common css End */

/* Account Settings Page Start */
.account {
    margin-bottom: 100px !important;
}

.account h3 {
    color: var(--black, #313131);
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 8px;
}

.account p {
    color: var(--black, #313131);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.6px;
}

.account p span {
    color: #FFB230;
    font-weight: 800;
}

.acount_gap {
    gap: 21px;
}

.changeEmail {
    margin-bottom: 28px;
}

.subOutter {
    overflow-x: scroll;
    white-space: nowrap;
    /* padding-top: 30px; */
    padding-bottom: 30px;
    /* padding: 50px; */
}

.cancel_sub_container {
    gap: 16px;
}

.subOutter::-webkit-scrollbar {
    display: none !important;
}

.subscriptionBox {
    border-radius: 10px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    padding: 22px 24px;
    width: 1200px;
    margin: auto;
}

.graySubLine {
    height: 1px;
    background: #C2C9D1;
    width: 100%;
}

.subscriptionBox span {
    color: var(--black, #313131);
    font-size: 22px;
    font-weight: 600;
}

.subscriptionBox h5 {
    color: var(--black, #313131);
    font-size: 30px;
    font-weight: 700;
}

.payment {
    font-weight: 500;
    color: var(--black, #313131) !important;
}

.graybtn {
    padding: 16px 24px;
    border-radius: 32px;
    background: var(--gray-400, #92979D);
    box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.25);
    color: var(--white, #FFF);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    transition: 0.4s ease-in-out;
    white-space: nowrap;
    cursor: pointer;
}

.graybtn:hover {
    opacity: .9;
}

.othersSub {
    padding: 16px 24px;
    border-radius: 32px;
    border: 1px solid var(--secondry-color, #FFB230);
    color: var(--secondry-color, #FFB230);
    font-size: 20px;
    font-weight: 700;
    background: transparent;
    transition: 0.4s ease-in-out;
    white-space: nowrap;
    cursor: pointer;
}

.othersSub:hover {
    background-color: var(--secondry-color, #FFB230);
    color: #FFF;
}

.cancelSubBtn {
    padding: 16px 24px;
    border-radius: 32px;
    border: 1px solid var(--alert-red, #E00000);
    color: var(--alert-red, #E00000);
    font-size: 20px;
    font-weight: 700;
    background: transparent;
    transition: 0.4s ease-in-out;
    white-space: nowrap;
    cursor: pointer;
}

.cancelSubBtn:hover {
    background-color: var(--alert-red, #E00000);
    color: #FFF;
}

.notificationSetting input {
    accent-color: #423c64;
}

.notificationSetting input.checkBox {
    width: 23px !important;
    height: 23px;
}

.not_checkbox_div p {
    color: var(--Black, #313131);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 15px;
    margin-top: 6px;
}

.mb_25 {
    margin-bottom: 25px;
}

.not_checkbox_div {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
    margin-top: 0px !important;
}

.deactiveBtn {
    padding: 16px 64px;
    border-radius: 32px;
    background: var(--alert-red, #E00000);
    box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.25);
    color: #FFF !important;
    text-align: center;
    font-size: 20px;
    font-weight: 700 !important;
    transition: 0.4s ease-in-out;
    white-space: nowrap;
}

.deactiveBtn:hover {
    opacity: .8;
}


.modal-header {
    border-bottom: none;
}

.deactiveAccModalOne h6 {
    color: var(--alert-red, #E00000);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
}

.deactiveAccModalOne p {
    color: var(--black, #313131);
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.deactiveAccModalOne span {
    color: var(--alert-red, #E00000) !important;
    font-weight: 700;
}

.confirmBtn {
    padding: 16px 122px;
    border-radius: 32px;
    background: var(--alert-red, #E00000);
    box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: 0.4s ease-in-out;
}

.confirmBtn:hover {
    opacity: .8;
}

.cancelAccBtn {
    padding: 16px 122px;
    border-radius: 32px;
    border: 1px solid var(--gray-400, #92979D);
    color: var(--gray-400, #92979D);
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 700;
    background: transparent;
    transition: 0.4s ease-in-out;
}

.cancelAccBtn:hover {
    opacity: .8;
}

.activity h3 {
    color: var(--black, #313131);
    font-size: 26px;
    font-weight: 700;
}

.blue_dot,
.orange_dot {
    display: flex;
    align-items: center;
    gap: 10px;
}

.blue_dot h6,
.orange_dot h6 {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #423C6A;
}

.orange_dot h6 {
    background-color: #FFB230;
}

.blue_dot p,
.orange_dot p {
    color: var(--black, #313131);
    font-size: 17.864px;
    font-style: normal;
    font-weight: 600;
    line-height: 26.796px;
}

.activity select {
    border-radius: 60px;
    background: #D9D8E1;
    color: var(--primary-color, #423C6A);
    font-size: 14px;
    font-weight: 600;
    padding: 15px;
}

/* Account Settings Page End */



/* Chat with Author Page Start */
/* accordian */
.button_click {
    background-color: transparent;
}

/* .accordion-item .accordion-button:focus {
    border: none !important;
} */

/* accordian */


.profile_gap {
    gap: 12px;
}

.sendForm {
    gap: 11px !important;
}



/* Chat with Author Page End */


/* Bookmark Page Start */
.bookmarkInner {
    border-radius: 10px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.15);
    padding: 23px 18px;
}

.bookmarkInner span {
    color: var(--black, #313131);
    font-size: 24px;
    font-weight: 500;
    display: block;
}

.bookmarkInner article span {
    color: var(--primary-color, #423C6A);
    font-size: 24px;
    font-weight: 700;
    display: block;
}

.bookmarkInner article p {
    color: var(--black, #313131);
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

/* Bookmark Page End */


/* FAQ Page Start */


.accordion-body {
    padding: 13px 20px;
    color: var(--black, #313131);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.accordion-button {
    border-radius: 10px;
    color: var(--black, #313131);
    font-size: 18px !important;
    font-weight: 600;
    line-height: 25px;
    padding: 32px 20px;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: unset;
    box-shadow: none;
    border-bottom: 1px solid #E1E4E8;
    color: #313131;
}

.accordion-button:focus {
    border-color: #E1E4E8;
}

.accordion-item {
    margin-bottom: 18px !important;
    /* border-radius: 10px; */
}

.accordion-button:not(.collapsed) {
    border-radius: unset;
}

.accordion-item:first-of-type {
    background: var(--white, #FFF);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.accordion-item:not(:first-of-type) {
    background: var(--white, #FFF);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

}

.accordion-item:first-of-type .accordion-button {
    border-radius: 10px;
}

.accordion-item:first-of-type .accordion-button:not(.collapsed) {
    border-radius: 10px 10px 0 0;
}

.accordion-item:first-of-type {
    border-radius: 10px;
}

.accordion-item:last-of-type {
    border-radius: 10px;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 10px;
}


.accordion-button::after {
    background-image: url(../images/faq_up.png);

}

.accordion-button:not(.collapsed)::after {
    background-image: url(../images/faq_up.png);
}

/* FAQ Page End */

/* Notification Page Start */

.outterBox {
    border-radius: 20px;
    background: #fffbf5;
    padding: 40px 47px;
    margin-bottom: 100px;
}

.notificationBox {
    padding: 17px 30px;
    border-radius: 10px;
    background: var(--white, #FFF);
    box-shadow: 2px 6px 14px 0px rgba(0, 0, 0, 0.10);
    margin-bottom: 20px;

}

.notification span {
    margin-bottom: 20px;
    color: var(--black, #313131);
    font-size: 22px;
    font-weight: 500;
}

.notification p {
    color: var(--black, #313131);
    font-size: 22px;
    font-weight: 600;
}

.notification img {
    border-radius: 50%;
}

.notification .noteTime {
    color: var(--black, #313131);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    margin-bottom: 12px;
}

.notification article p {
    color: var(--black, #313131);
    font-size: 16px;
    font-weight: 500
}

.recent {
    margin-top: 10px;
}

/* Notification Page End */


/* Preview Book Page Start */

.bookName {
    color: var(--black, #313131);
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
}


.mb_200 {
    margin-bottom: 200px !important;
}

.bookIndex {
    border-radius: 20px;
    background: #fffbf5;
    box-shadow: 7px -3px 14px 0px rgba(0, 0, 0, 0.15);
    padding: 66px;
    gap: 35px;
}

.detalisPage {
    border-radius: 10px;
    /* background: #D9D9D9; */
    max-height: 1200px;
    height: 100%;
    padding-left: 40px;
    width: 100% !important;
}

.detalisPage img {
    min-width: 967.137px !important;
    height: 1718.886px;
    width: 100%;
}


.bookHeight {
    height: 1200px;
    margin-bottom: 35px;
}


.bookScroll {
    overflow-y: scroll;
    height: 1200px;
    padding: 15px;
}

::-webkit-scrollbar {
    width: 7px;
    border-radius: 10px;
    background: var(--gray-200, #E1E4E8);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--primary-color, #423C6A);

}


.mb-ebook {
    margin-bottom: 100px;
}

/* Preview Book Page End */
.swiper-pagination-bullet {
    height: 20px !important;
    width: 20px !important;
    background-color: var(--Secondry-Color, #FFB230) !important;
    margin-top: 40px !important;
}


.cancelSubBtn:focus-visible {
    outline: red !important;
    border: red !important;
}

.cancelSubBtn:focus {
    outline: red !important;
    border: red !important;
}

.graph_gap {
    gap: 24px;
}

.recharts-cartesian-axis-ticks {
    margin-top: 15px;
}



.changeEmail label,
.changePassword label,
.profileSetting label {
    color: var(--gray-400, #92979D);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
    display: block;
}

.changeEmail label,
.changePassword label,
.profileSetting1 label {
    color: var(--gray-400, #92979D);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
    display: block;
}

.notificationSetting label {
    color: var(--gray-400, #92979D);
    font-size: 16px;
    font-weight: 600;
}

/* account setting */

.inputContainer {
    width: 100%;
    max-width: 356px !important;
    display: block;
}


.inputContainer1 {
    width: 100%;
    max-width: 356px !important;
    display: block;
}

.changeEmail input,
.changePassword input,
.profileSetting input,
.profileSetting select {
    border-bottom: 2px solid #423C6A;
    padding-bottom: 5px;
    color: var(--primary-color, #423C6A);
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    max-width: 356px !important;
    display: block;
}

.changeEmail input,
.changePassword input,
.profileSetting1 input,
.profileSetting1 select {
    border-bottom: 2px solid #423C6A;
    padding-bottom: 5px;
    color: var(--primary-color, #423C6A);
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    display: block;
}

.changePassword input,
.profileSetting input,
.profileSetting select {
    border-bottom: 2px solid #C2C9D1;
}

.changePassword input,
.profileSetting1 input,
.profileSetting1 select {
    border-bottom: 2px solid #C2C9D1;
}

.changeEmail input::placeholder,
.changePassword input::placeholder,
.profileSetting input::placeholder {
    color: var(--primary-color, #423C6A);
    font-size: 16px;
    font-weight: 500;
}

.changeEmail input::placeholder,
.changePassword input::placeholder,
.profileSetting1 input::placeholder {
    color: var(--primary-color, #423C6A);
    font-size: 16px;
    font-weight: 500;
}

.changeEmail button {
    color: var(--primary-color, #423C6A);
    font-size: 22px;
    font-weight: 600;
    outline: none;
    border-bottom: 2px solid #423C6A;
    background: transparent;
    transition: 0.3s ease-in-out;
    white-space: nowrap;
}

.changeEmail button:hover {
    opacity: .9;
    border-bottom: 2px solid transparent;
}

.changePassword button,
.profileSetting button {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 143px;
    border-radius: 32px;
    background: var(--primary-color, #423C6A);
    box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.25);
    transition: 0.4s ease-in-out;
    white-space: nowrap;
}

.changePassword button,
.profileSetting1 button {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 14px 90px;
    border-radius: 32px;
    background: var(--primary-color, #423C6A);
    box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.25);
    transition: 0.4s ease-in-out;
    white-space: nowrap;
}

.changePassword button:hover,
.profileSetting button:hover {
    opacity: .9;
}

.changePassword button:hover,
.profileSetting1 button:hover {
    opacity: .9;
}

select {
    border: none;
}


.profileSetting select {
    /* background-image: url("../images/drop_down.png"); */
    background-repeat: no-repeat;
    background-position: right center;
}

select::-ms-expand {
    display: none;
}

.inputContainer2 {
    width: 100% !important;
    display: block;

}

.sub_inputcontainer {
    width: 100% !important;
    max-width: 209px !important;
    display: flex !important;
}

.profileSetting3 input,
.profileSetting3 select {
    padding-bottom: 5px;
    color: var(--primary-color, #423C6A);
    font-size: 16px;
    font-weight: 500;
    width: 100%;

}

.select_date {
    display: flex;
}

.second_row {
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 30px !important;
}

button,
a {
    cursor: pointer;
}

.footer_gap {
    gap: 189px;
}

.chatList {
    width: 490px;

}

.chat_scrolled {
    overflow-y: scroll;
    max-height: 700px !important;

}

@media only screen and (max-width:1024px) {}

@media only screen and (max-width:992px) {

    /* achive vbox  */
    .achiveBox {
        margin-top: 20px;
    }

    h2 {
        font-size: 30px !important;

    }

    .clientGuide h3 {
        font-size: 30px;
    }

    .readerBox {
        display: none;
    }

    .detalisPage img {
        display: none;
    }
}



@media only screen and (max-width:768px) {
    .footer_gap {
        gap: 30px !important;
    }

    .detalisPage img {
        display: none;
    }

    .text-end {
        justify-content: center;
    }

    .contact_gap {
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 35px !important;
    }

    .banner p {
        font-size: 20px !important;
    }

    .profileShow .child {
        top: 61px;
        left: 0;
    }

    .childHover {
        top: 61px;
        left: 0;
    }

    .accSettings a {
        font-size: 14px;
    }

    .sub_header {
        font-size: 18px;
    }

    .txt_curve {
        padding-bottom: 40px;
    }

    h2 {
        font-size: 20px;
        line-height: 30px;
    }


    .forPosition a {
        font-size: 16px;
    }

    footer p {
        font-size: 20px;
    }

    .linkFooter a {
        font-size: 16px;
    }

    footer article p {
        font-size: 14px;
    }

    .navbar-expand-lg {
        background-color: #FFF;
    }

    .navbar-nav {
        gap: 20px;
    }

    .footerBox {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .chatList {
        width: 490px;
    }


    .archiveRow {
        gap: 20px;
    }

    .clientGuideInner {
        flex-direction: column;
        gap: 20px;
    }

    .clientGuide h3 {
        text-align: center;
        font-size: 25px;
        line-height: 30px;
    }

    .achiveBox span,
    .aboutMeInner span {
        font-size: 18px;
    }

    .achiveBox p,
    .aboutMeInner p,
    .latestVideoInner p {
        font-size: 16px;
    }

    .pointsCover .row>* {
        margin-top: 10px;
    }


    .pointsCover span,
    .pointsCover h6 {
        font-size: 18px;
    }

    .pointsCover p {
        font-size: 16px;
    }

    .authorName span {
        font-size: 25px !important;
        padding: 15px 25px !important;
        text-align: center;
    }

    .aboutAuthor p {
        font-size: 18px;
    }

    .aboutAuthor .col-lg-5 {
        padding-right: unset;
    }

    .authorInner {
        margin-top: 20px;
        margin-bottom: 70px;
    }

    /* ebook Preview Start */
    .bookHeight {
        height: unset;
    }

    .bookScroll {
        height: 600px;
    }

    .detalisPage {
        height: unset;
    }

    .ebookMt {
        margin-top: 0;
    }

    .mb-100 {
        margin-bottom: 50px;
    }

    .b-pagination-outer {
        padding: 5px;
    }

    .border-pagination {
        gap: 0;
    }

    .border-pagination li a {
        font-size: 8px;
        padding: 5px;
    }

    .showPage a {
        font-size: 8px;
    }

    .mb-ebook {
        margin-bottom: 0;
    }

    .bookName {
        font-size: 30px;
        line-height: 35px;
    }

    .mb_100 {
        margin-bottom: 50px;
    }

    .bookMark {
        flex-wrap: wrap !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .bookmarkInner span {
        font-size: 18px;
    }

    .bookmarkInner article span {
        font-size: 18px;
    }

    .bookmarkInner article p {
        font-size: 14px;
    }

    /* Bookmark Page End */


    .modalBtn {
        flex-direction: column;
    }

    .deactiveAccModalOne h6 {
        font-size: 25px;
    }

    .cancelAccBtn,
    .confirmBtn {
        padding: 12px 80px;
        font-size: 18px;
    }
}

@media only screen and (max-width:600px) {
    .contactForm {
        padding: 48px 20px;
        margin-bottom: 50px;
    }

    .contactForm label {
        font-size: 14px;
    }

    .contactForm input:placeholder {
        font-size: 12px;
        padding: 8px;
    }

    .contactForm textarea {
        font-size: 12px;
    }

    .authorChatBox {
        flex-direction: column;
    }

    .chatList {
        width: 350px;
    }

    .notificationBox {
        flex-direction: column;
        text-align: center;
    }

    .notification p {
        font-size: 18px;
    }

    .notification .noteTime {
        font-size: 10px;
    }

    .notification article p {
        font-size: 12px;
    }

    /* Setting Page Start */
    .account h3,
    .activity h3 {
        font-size: 20px;
    }

    .account p {
        font-size: 16px;
    }

    .changeEmail button {
        font-size: 16px;
    }

    .changeEmail label,
    .changePassword label,
    .profileSetting label,
    .notificationSetting label {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .changeEmail label,
    .changePassword label,
    .profileSetting1 label,
    .notificationSetting label {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .changeEmail input,
    .changePassword input,
    .profileSetting input,
    .profileSetting select {
        font-size: 12px;
    }

    .changeEmail input,
    .changePassword input,
    .profileSetting1 input,
    .profileSetting1 select {
        font-size: 12px;
    }

    .changeEmail input::placeholder,
    .changePassword input::placeholder,
    .profileSetting input::placeholder {
        font-size: 12px;
    }

    .changeEmail input::placeholder,
    .changePassword input::placeholder,
    .profileSetting1 input::placeholder {
        font-size: 12px;
    }

    .changePassword button,
    .profileSetting button {
        font-size: 16px !important;
        padding: 12px 90px !important;
    }

    .changePassword button,
    .profileSetting1 button {
        font-size: 16px;
        padding: 14px 90px;
    }

    .subOutter {
        padding: 10px;
    }

    .deactiveBtn {
        font-size: 16px;
        padding: 12px 40px;
    }

    .subscriptionBox span {
        font-size: 16px;
    }

    .subscriptionBox h5 {
        font-size: 22px;
    }

    .graybtn,
    .othersSub,
    .cancelSubBtn {
        font-size: 16px;
        padding: 12px 20px;
    }



    /* Setting Page End */
}


@media only screen and (max-width:425px) {
    .profileShow .child {
        left: -100%;
    }

    .profileShow .childHover {
        left: -100%;
    }

    .profileShow .child {
        width: 300px;
    }

    .childHover {
        width: 300px !important;
        /* width: 100% !important; */
    }
}


@media only screen and (max-width:320px) {
    .chatList {
        width: 300px;
    }

    .childHover {
        min-width: 300px !important;
    }
}


/* //LOGIN */
.logInContainer {
    padding-top: 31px;
    padding-left: 50px;
}

.logInBox {
    max-width: 430px;
}

.logInContainer h5 {
    margin-bottom: 96px;
}

.logInContainer h5 a {
    color: #313131;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.logInContainer h2 {
    color: #313131;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 27px;
}

.logInContainer .headerText {
    margin-bottom: 57px;
}

.logInContainer .headerText p {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logInContainer .headerText p:first-child {
    margin-bottom: 9px;
}

.logInContainer .headerText a {
    color: #ffb230;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logInContainer form label {
    color: #92979d;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;
}

.logInContainer form .inputContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 2px solid #c2c9d1;
    width: 100%;
    padding-bottom: 9px;
}

.logInContainer form .inputContainer1 {
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 2px solid #c2c9d1;
    width: 100%;
    padding-bottom: 9px;
}

.logInContainer form .inputContainer input {
    width: 100%;
    outline: unset;
    border: unset;
}

.logInContainer form .inputContainer1 input {
    width: 100%;
    outline: unset;
    border: unset;
}

.logInContainer form .inputContainer input::placeholder {
    color: #423c6a;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.logInContainer form .inputContainer1 input::placeholder {
    color: #423c6a;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.focusInput {
    border-bottom: 2px solid #423c6a !important;
}

.checkBoxInputContainer {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 62px;
}

.checkBoxInputContainer input {
    width: 15px;
    height: 15px;
}

.checkBoxInputContainer div {
    display: flex;
    gap: 8px;
    align-items: center;
}

.checkBoxInputContainer p {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.checkBoxInputContainer a {
    color: #4d4d4d;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logInActionContainer .sign-in-button {
    width: 100%;
    border-radius: 32px;
    background: #423c6a;
    box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 16px;
    padding-bottom: 16px;
    border: unset;
}

.logInActionContainer p {
    margin-top: 36px;
    margin-bottom: 36px;
    text-align: center;
    color: #313131;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.logInActionContainer div {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.social_button {
    background-color: transparent;
}

@media only screen and (max-width: 688px) {
    .logInContainer {
        padding: 20px;
    }

    .logInBox {
        max-width: unset;
    }
}

@media only screen and (min-width: 689px) and (max-width: 992px) {
    .logInContainer {
        padding: 50px;
    }

    .logInBox {
        max-width: unset;
    }
}

@media only screen and (min-width: 689px) and (max-width: 992px) {
    .logInContainer {
        padding: 50px;
    }

    .logInBox {
        max-width: unset;
    }
}