@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif !important;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1248px;
}

.mb_all {
  margin-bottom: 70px;
}

/* .mb_20 {
  margin-bottom: 10px;
} */


h2 {
  color: var(--black, #313131);
  font-size: 28px;
  font-weight: 700;
  line-height: 24px;
}

h2 span {
  color: var(--secondry-color, #ffb230);
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 10px;
}

.txt_curve {
  position: relative;
  padding-bottom: 20px;
}

.txt_curve::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 40%;
  width: 100%;
  border-style: solid;
  border-color: #ffb230 transparent transparent transparent;
  border-radius: 90% 60% 0 0;
}

.sub_header {
  color: var(--primary-color, #423c6a);
  font-size: 24px;
  font-weight: 500;
}

.forPosition a {
  color: var(--black, #313131);
  font-size: 20px;
  font-weight: 500;
}

.forPosition .activePage {
  font-weight: 700 !important;
}

footer {
  background: #fff3e0;
}

:focus-visible {
  outline: none;
}

/* Common css End */

/* Header Start */

.navbar {
  padding-top: 15px;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 99999;
}

.navbar-nav {
  gap: 41px;
}

.nav-link {
  text-align: center;
  color: var(--black, #313131);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  /* padding: 0; */
}

.nav-item {
  width: 100px !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.nav-link:focus,
.nav-link:hover {
  color: #423c6a !important;
  font-weight: 700;
  letter-spacing: 0.32px;
}

.menu {
  position: relative;
  padding-bottom: 20px !important;
}

.menu:before {
  position: absolute;
  content: "";
  background: #423c6a;
  height: 20px;
  width: 0;
  bottom: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}

.active__hov {
  color: #423c6a !important;
  position: relative;
  color: var(--primary-color, #423c6a);
  font-weight: 700;
  letter-spacing: 0.32px;
}

.active__hov:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0%;
  height: 20px;
  width: 100%;
  border-style: solid;
  border-color: #423c6a transparent transparent transparent;
  border-radius: 90% 50% 0 0;
  transition: 0.3s ease-in-out;
}

.dark_btn {
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  letter-spacing: 0.32px;
  border-radius: 5px;
  background: var(--primary-color, #423c6a);
  padding: 10px 16px;
  transition: 0.3s ease-in-out;
}

.dark_btn:hover {
  color: #423c6a;
  background: #fff3e0;
}

.light_btn {
  color: var(--primary-color, #423c6a);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  line-height: 19.2px;
  letter-spacing: 0.32px;
  border-radius: 5px;
  background: transparent;
  padding: 10px 16px;
  transition: 0.3s ease-in-out;
}

.light_btn:hover {
  color: #fff3e0;
  background: #423c6a;
}

.profileShow img {
  border-radius: 50%;
}

/* Header End */

/* Footer Start */
footer {
  padding: 40px 0;
}

footer p {
  color: var(--black, #313131);
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.linkFooter a {
  color: var(--black, #313131);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  transition: 0.3s ease-in-out;
}

.linkFooter a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.socialLink {
  gap: 20px;
  overflow: hidden;
}

.socialLink img {
  transition: 0.4s ease-in-out;
}

.socialLink img:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.lineBox {
  height: 2px;
  background: linear-gradient(270deg,
      rgba(66, 60, 106, 0) 12.69%,
      #423c6a 50.52%,
      rgba(66, 60, 106, 0) 86.34%);
  width: 100%;
}

footer article p {
  color: var(--black, #313131);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
}

/* Footer End */

/* Banner Section Start */
.banner {
  background-image: url("../src/assets/images/banner_bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 120px 0;
  position: relative;
}

/* .banner {
    background-color: #fff3e0;
    background-image: url("../images/circle_banner_bg.png");
    background-repeat: no-repeat;
    background-position: center left 40%;
    background-size: contain;
    padding: 120px 0;
} */

.banner span {
  color: var(--primary-color, #423c6a);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 21px;
}

h1 {
  color: var(--black, #313131);
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 21px;
}

.banner p {
  color: var(--primary-color, #423c6a);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 21px;
}

.banner a,
.contactAll button {
  border-radius: 50px;
  background: var(--primary-color, #423c6a);
  padding: 13px 38px;
  color: var(--white, #fff);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

/* Banner Section End */

/* Achive Section Start */

.achiveBox {
  padding: 30px 28px 26px 28px;
  border-radius: 10px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.15);
}

.achiveBox span {
  display: block;
  color: var(--primary-color, #423c6a);
  font-size: 24px;
  font-weight: 700;
}

.achiveBox p {
  color: var(--black, #313131);
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}

/* Achive Section End */

/* Index Page End */

/* Contact Page Start */
.forPosition {
  position: relative;
  padding-top: 120px;
}

.contactForm {
  border-radius: 10px;
  background: var(--white, #fff);
  box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 94px 74px;
}

.contactForm label {
  color: var(--gray-400, #92979d);
  font-size: 16px;
  font-weight: 600;
}

.contactForm input {
  border: none;
  border-bottom: 1px solid #c2c9d1;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0;
}

.contactForm input:placeholder {
  color: var(--black, #313131);
  font-size: 16px;
  font-weight: 500;
  padding: 11px;
}

.contactForm textarea {
  border-radius: 3px;
  border: 0.5px solid var(--gray-300, #c2c9d1);
  background: var(--white, #fff);
  font-size: 16px;
  font-weight: 500;
}

.contactForm span {
  color: #e53e3e;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

/* Contact Page End */

@media only screen and (min-width: 1440px) {}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {
  .sub_header {
    font-size: 18px;
  }

  h2 {
    font-size: 20px;
    line-height: 18px;
  }

  .forPosition a {
    font-size: 16px;
  }

  footer p {
    font-size: 20px;
  }

  .linkFooter a {
    font-size: 16px;
  }

  footer article p {
    font-size: 14px;
  }

  .navbar-expand-lg {
    background-color: #fff;
  }

  .navbar-nav {
    gap: 20px;
  }

  .footerBox {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .contactForm {
    padding: 48px 20px;
    margin-bottom: 50px;
  }

  .contactForm label {
    font-size: 14px;
  }

  .contactForm input:placeholder {
    font-size: 12px;
    padding: 8px;
  }

  .contactForm textarea {
    font-size: 12px;
  }
}

@media only screen and (max-width: 425px) {}

@media only screen and (max-width: 320px) {}